@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

h1{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 3.5rem;
}

.player-form{
    width: 60%;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.player-form .input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-form .start-game{
    display: flex;
    justify-content: center;
}

.player-form .input, .player-form .input input, .player-form .start-game button{
    font-size: 1.15rem;
}

.player-form .input input{
    margin-left: 0.25rem;
    padding: 0.25rem;
    outline: none;
}

.player-form .start-game button{
    background-color: rgba(0, 0, 0, 0.8);;
    color: white;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease-in;
}

.player-form .start-game button:hover{
    background-color: black;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 4rem;
    width: 60%;
}

.game-board *{
    border: 2px solid black;
    text-align: center;
    font-size: 5.5rem;
    padding: 0.75rem 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.game-board *:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.game-board .one, .game-board .two, .game-board .three{
    border-top: none;
}

.game-board .one, .game-board .four, .game-board .seven{
    border-left: none;
}

.game-board .seven, .game-board .eight, .game-board .nine{
    border-bottom: none;
}

.game-board .three, .game-board .six, .game-board .nine{
    border-right: none;
}