@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

h1{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 3.5rem;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 4rem;
    width: 60%;
}

.game-board *{
    border: 2px solid black;
    text-align: center;
    font-size: 5.5rem;
    padding: 0.75rem 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.game-board *:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.game-board .one, .game-board .two, .game-board .three{
    border-top: none;
}

.game-board .one, .game-board .four, .game-board .seven{
    border-left: none;
}

.game-board .seven, .game-board .eight, .game-board .nine{
    border-bottom: none;
}

.game-board .three, .game-board .six, .game-board .nine{
    border-right: none;
}